*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

section{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.partial-option{
    width: 45%;
}

.head-line{
    padding-left: 25px;
    position: relative;

}

.head-line::before{
    content: '';
    width: 5px;
    height: 75%;
    background: red;
    border-radius: 3px;
    top: 24px;
    left: 0;
    position: absolute;
}

.partial-option img{
    width: 80%;
    margin-right: 0;
}

h1{
    font-size: 60px;
    color: #34495e;
    font-weight: bold;
}

h1 span{
    color: #f9ca24;
}

h2{
    font-size: 40px;
    
}

a.buttons{
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;
    background-image: linear-gradient(#ED213A, #93291E);
    border-radius: 3px;
    color: #fff;
}

p{
    color: rgba(0,0,0,0.5);
    margin: 35px 0;
    text-align: justify;
}

.my-mission{
    width: 90%;
    margin: 100px auto;
    display: block;
}


.my-mission h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.mission-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
}

.mission-content > div{
    width: 32%;
    height: 350px;
    background: rgba(83, 92, 104,0.1);
    border-radius: 10px;
    padding: 25px;
    
}

.mission-content > div:last-child{
    background: rgba(255, 190, 118,0.5);
}

.mission-content > div img{
    width: 130px;
}

.mission-content > div p{
    margin: 0;
}

.mission-content > div h3{
    margin: 20px 0;    
}

.global-limit{
    margin: 100px auto;
}

.dev-limits{
    
    
}